
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background: rgb(0,210,255);
    background: linear-gradient(90deg, rgba(0,210,255,1) 35%, rgba(146,141,171,1) 100%); */
    background-color: #36394538!important;
}

.headingText{
    font-size: 40px;
    font-family: monospace;
    color: #7451eb;
    font-weight: bold;
}
.inputsSec > input[type=text]{
    height: 50px;
    width: 75%;
    border: 1px solid lightslategrey;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-family: cursive;
    color: #000000;
}
.inputsSec > input[type=text]:focus{
    outline: none!important;
    box-shadow: none!important;
}

.submitButton {
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: grey!important;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px!important;
    font-size: 16px!important;
    text-transform: uppercase;
    font-family: cursive;
    padding: 0px 30px!important;
    transition: all 0.4s;
}
.submitButton:hover{
    transform: translateY(1.2);
}

.submitButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.submitButton:active {
    color: #000
}

.submitButton:active:after {
    background: transparent;
}

.submitButton:hover:before {
    opacity: 1;
}

.submitButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.btn.focus, .btn:focus {
    outline: none!important;
    box-shadow: none!important;
}

.Imgwrap > img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.Foodcard{
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.Foodcard:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.foodRecipieTitle{
    font-size: 18px;
    font-weight: bold;
    font-family: cursive;
    margin: 0;
    line-height: 1.3;
    color: #000000;
    min-height: 50px;
    max-height: 50px;
    display: block!important;
    display: -webkit-box!important;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.RecipieLink{
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    color: #cc6600;
    transition: all 0.4s;
    position: relative;
}
.RecipieLink::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #cc6600;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
.RecipieLink:hover{
    color: #cc6600;
    text-decoration: none;
}
.RecipieLink:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
.DietContent > p,.dishcontent,.dishcontent span,.mealtype,.mealtype span{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-transform: capitalize;
    margin: 0;
}

@media (max-width:767px){
    .inputsSec > input[type=text]{
        width: 65%;
    }
    .submitButton {
        width: 30%;
        padding: 0px 0px!important;
    }
    .headingText{
        font-size: 25px;
    }
}


